@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    /* background-color: rgb(216, 211, 203); */
    margin: 0px;
    pad: 0px;
    font-family: 'Inter', sans-serif;

}
.navbar{
    display: flex;
    background-color: black;
    color: white;
    width: 100vw;
    height: 60px;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    /* padding-inline:30px ; */
}
.navbar>p>a{
    background-color: transparent;
    text-decoration: none;
    color: white;
}
p{
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
}
#library
{
    margin-right: auto;
    margin-left: 30px;
}
#lohout{
    margin-right: 30px;
}
/* ---------------------nav bar end--------------- */

/* ==================================================================== */

/* ---------------------table style starts here----------- */
.body{
    width: 100vw;
    /* background-color: azure; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.b-1{
    width: 50vw;
    background-color:white;
    margin-top: 10px;
}
#table{
    
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
}
table>caption{

    text-align: left;
    padding-bottom: 5px;
    font-size: 14px;
    
}
td{
    padding-inline: 10px;
    /* padding-bottom: 2px; */
}
tr{
    padding-bottom: 3px;
    margin-bottom: 3px;
}
/* table>thead>th{
    padding:5px 10px
} */
.inner-table-1{
    border-collapse: collapse;
}
#c-1{
    padding-bottom: 10px;
    font-size: x-large;
}
/* *********************************************** */
#outer-form{
    margin: 10px;
}
#form{
    background-color:white;
    width: 45vw;
    margin: 20px
}
h1{
    /* margin-left: 8px; */
    background-color: white;

}
#btn{
    width: 90%;
    text-align: center;
    color: white;
    background-color: black;
    margin-left:25px;
    margin-top: 2px;
    cursor: progress;
    border-radius: 5px;
}
#btn:hover{
    box-shadow: 2px 2px 5px black;
}
/* ***********************----tried my best------ *************** */
